//для флекса
@mixin display($d,$jc,$ai) {
    display: $d;
    justify-content: $jc;
    align-items: $ai;
}

//марджин
@mixin marginTB($mt,$mb){
    margin-top: $mt;
    margin-bottom: $mb;
}

//стиль шрифт
@mixin fontz($f,$h,$w,$c){
    font-size: $f;
    line-height: $h;
    font-weight: $w;
    color: $c;
}

//розмір
@mixin size($wid,$heig){
    width: $wid;
    height: $heig;
}

//фон 

@mixin back($bs,$br,$bp,$ba){
    background-size: $bs;
    background-repeat: $br;
    background-position: $bp;
    background-attachment: $ba;
}
